body 
{
    background: #000000 ;
    

}


.date
{
    padding-top: 40px;
    padding-right: 30px;
    color: white;
    text-align: right;
    font-family: 'Josefin Sans', serif;
    font-size: 150px;
}

.message
{
    position: fixed;
    bottom: 10vh;
    text-align: center;
    width: 100%;
    font-family: 'Josefin Sans', serif;
}

p
{
    color: white;
    padding-right: 50px;
    font-family: 'Josefin Sans', serif;
    text-align: right;
    font-size: 100px;
}

.left
{
  width: 50%;
     margin: 0 auto; 
    
    
}

.right
{
    float: right;
    
}


